.cart-container {
    flex: 1;
    padding: 20px 40px;
    margin-left: 20px; 
    max-width: 1200px;
}

/* Título Principal */
.mainTitle {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

/* Layout em Grelha */
.gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 20px;
}

/* Secções */
.cartSection h2, 
.dateSection h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Cartões dos Livros no Carrinho */
.bookCard {
    background: white;
    border: 1px solid #a5c0d6;
    border-radius: 4px;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
    gap: 15px;
}

.bookInfo h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.bookInfo .author {
    color: #555;
    margin-bottom: 15px;
}

.quantityControl {
    font-weight: bold;
}

.limitText {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos do Calendário */
.calendarCard {
    border: 1px solid #a5c0d6;
    border-radius: 4px;
    padding: 20px;
    background: white;
}

.calendarHeader {
    background-color: #004080;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.calendarHeader button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.calendarTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.calendarTable th {
    padding-bottom: 15px;
}

.calendarTable td {
    padding: 8px 0;
    text-align: center;
}

/* Botão de Confirmaçãow */
.confirmBtn {
    background-color: #004080;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.confirmBtn:hover {
    background-color: #003366;
}